@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meridian Ibom Hotel - Home</title>
    <!-- ========== Css Files ========== -->
    <link href="~/css/root.css" rel="stylesheet">
    <style type="text/css">

        body {
            background: #F5F5F5;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h1>Welcome to Meridian Ibom Hotel Management System</h1>
                <h3>This is a hotel management system that does ...</h3>
                <h4>Project by: Jimmy Udoh</h4>
                <h4>Mat no: 12839</h4>
                <h4>University of Romania</h4>
                <a asp-action="index" asp-controller="rooms" class="btn btn-option2">View Admin Panel</a>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
