@model TheHotelApp.Models.Image

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Image</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label>Upload Image(s):</label>
                <input type="file" multiple class="form-control" name="Files" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


<div>

    @if (ViewBag.AddedImages != null)
    {
        @foreach (var item in ViewBag.AddedImages as List<string>)
        {
            <div class="alert alert-success">
                <strong>@item</strong>
            </div>
        }

    }

    @if (ViewBag.UploadErrors != null)
    {
        foreach (var item in ViewBag.UploadErrors as List<string>)
        {
            <div class="alert alert-danger">
                <strong>@item</strong>
            </div>
        }

    }
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
