@model TheHotelApp.Models.RoomType
<!-- Start Page Header -->
<div class="page-header">
    <h1 class="title">Rooms</h1>
    <ol class="breadcrumb">
        <li><a asp-action="Index">Room Categories</a></li>
        <li class="active">Create</li>
    </ol>
    <!-- Start Page Header Right Div -->
   
</div>
<!-- End Page Header -->
<!-- START CONTAINER -->
<div class="container-padding">
    <div class="row">
        <form asp-action="Create" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-title">
                        Create New Category

                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label asp-for="Name" class="col-sm-2 control-label form-label"></label>
                            <input asp-for="Name" class="col-sm-9" />
                            <span asp-validation-for="Name" class="text-danger col-sm-9 col-md-offset-2"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BasePrice" class="col-sm-2 control-label form-label"></label>
                            <input asp-for="BasePrice" class="col-sm-9" />
                            <span asp-validation-for="BasePrice" class="text-danger col-sm-9 col-md-offset-2"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="col-sm-2 control-label form-label"></label>
                            <textarea rows="4" asp-for="Description" class="col-sm-9" style="border-radius: 3px; padding-left: 10px; font-size: 14px; background: #fff; border: 1px solid #BDC4C9; box-shadow: inset 0px 1px 0px #F1F0F1;"></textarea>
                            <span asp-validation-for="Description" class="text-danger col-sm-9 col-md-offset-2"></span>
                        </div>

                        <div class="col-md-6 col-md-offset-3">
                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                <div class="btn-group" role="group">
                                    <input id="bottom-submit-button" type="submit" value="Create" class="btn btn-success" />
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="reset" class="btn btn-danger">Reset Fields</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-warning" onclick="window.location.href='/Roomtypes/Index'">Back To List</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- END CONTAINER -->
<!-- //////////////////////////////////////////////////////////////////////////// -->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}



